@font-face {
    font-family: 'Campton';
    src: url('./../fonts/campton-bolddemo-webfont.eot');
    src: url('./../fonts/campton-bolddemo-webfont.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/campton-bolddemo-webfont.woff2') format('woff2'),
         url('./../fonts/campton-bolddemo-webfont.woff') format('woff'),
         url('./../fonts/campton-bolddemo-webfont.ttf') format('truetype'),
         url('./../fonts/campton-bolddemo-webfont.svg#camptonbold_demo') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Campton';
    src: url('./../fonts/campton-lightdemo-webfont.eot');
    src: url('./../fonts/campton-lightdemo-webfont.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/campton-lightdemo-webfont.woff2') format('woff2'),
         url('./../fonts/campton-lightdemo-webfont.woff') format('woff'),
         url('./../fonts/campton-lightdemo-webfont.ttf') format('truetype'),
         url('./../fonts/campton-lightdemo-webfont.svg#camptonlight_demo') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
	background: #72cdeb;
	color: #fff;
	font-family: 'Campton', Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: 18px;
}

main {
	margin: 8%;
}

a {
	background: #e95b99;
	padding: 15px 30px;
	color: #fff;
	text-decoration: none;
	border-radius: 4px;
}

a:hover {
	background: #E73F89;
}

h1 {
	font-size: 70px;
	font-size: 6vmax;
}

h2 {
	font-size: 300px;
	font-size: 100px;
	font-size: 20vw;
	margin: 0.1em;
}

.button {
	display: inline-block;
	margin: 0 10px 15px;
}

#lower, #higher {
	background: #0067AD;
}

#lower:hover, #higher:hover {
	background: #005690;
}